# Load data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/hr/hr_data.csv')
df.head()

,employee_id,full_name,role,department,email,location,date_of_birth,date_of_joining,manager_id,salary,leave_balance,leaves_taken,attendance_pct,performance_rating,last_review_date
0,FINEMP1000,Aadhya Patel,Sales Manager,Sales,aadhya.patel@fintechco.com,Ahmedabad,1991-04-03,2018-11-20,FINEMP1006,1332478.37,22,11,99.31,3,2024-05-21
1,FINEMP1001,Isha Chowdhury,Credit Officer,Finance,isha.chowdhury@fintechco.com,Pune,1995-09-21,2021-05-20,FINEMP1005,1491158.23,8,3,85.15,5,2024-01-20
2,FINEMP1002,Sakshi Malhotra,Relationship Manager,Sales,sakshi.malhotra@fintechco.com,Ahmedabad,1993-08-05,2023-04-17,FINEMP1008,1448927.95,21,7,86.31,2,2025-02-11
3,FINEMP1003,Krishna Malhotra,Business Analyst,Business,krishna.malhotra@fintechco.com,Pune,1984-12-20,2018-06-10,FINEMP1003,519865.26,12,5,84.34,1,2024-07-24
4,FINEMP1004,Aadhya Saxena,Marketing Manager,Marketing,aadhya.saxena@fintechco.com,Lucknow,1986-03-31,2022-12-20,FINEMP1008,1922205.04,21,10,86.03,3,2024-01-12

# Initial data exploration (quality check)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   employee_id         100 non-null    object
 1   full_name           100 non-null    object
 2   role                100 non-null    object
 3   department          100 non-null    object
 4   email               100 non-null    object
 5   location            100 non-null    object
 6   date_of_birth       100 non-null    object
 7   date_of_joining     100 non-null    object
 8   manager_id          100 non-null    object
 9   salary              100 non-null    float64
 10  leave_balance       100 non-null    int64
 11  leaves_taken        100 non-null    int64
 12  attendance_pct      100 non-null    float64
 13  performance_rating  100 non-null    int64
 14  last_review_date    100 non-null    object
dtypes: float64(2), int64(3), object(10)
memory usage: 11.8+ KB

In [4]:
print(f"data has {df.shape[0]} rows and {df.shape[1]} columns")

data has 100 rows and 15 columns

In [5]:
df.isnull().sum()

employee_id           0
full_name             0
role                  0
department            0
email                 0
location              0
date_of_birth         0
date_of_joining       0
manager_id            0
salary                0
leave_balance         0
leaves_taken          0
attendance_pct        0
performance_rating    0
last_review_date      0
dtype: int64

# Chunking strategy

Since the data is HR based and small enough to store as rows, we will chunk by rows.